<!DOCTYPE html>
<html>
    <head>
        <title>Information</title>
    </head>

    <body>
        <h1>Information Page</h1>
        <p>This is the path where the user gets all their information from.</p>
    </body>
</html>